
@font-face {
	font-family: 'OpenSans';
	font-weight: normal;
	font-style: normal;
    src: url($FontPath + "/OpenSans-Regular.ttf");
}

@font-face {
	font-family: 'OpenSans';
	font-weight: bold;
	font-style: normal;
    src: url($FontPath + "/OpenSans-SemiBold.ttf");
}

@font-face {
	font-family: 'OpenSans';
	font-weight: bold;
	font-style: italic;
    src: url($FontPath + "/OpenSans-BoldItalic.ttf");
}

@font-face {
	font-family: 'OpenSans';
	font-weight: bolder;
	font-style: normal;
    src: url($FontPath + "/OpenSans-ExtraBold.ttf");
}

@font-face {
	font-family: 'OpenSans';
	font-weight: bolder;
	font-style: italic;
    src: url($FontPath + "/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
	font-family: 'OpenSans';
	font-weight: normal;
	font-style: italic;
    src: url($FontPath + "/OpenSans-Italic.ttf");
}

@font-face {
	font-family: 'OpenSans';
	font-weight: lighter;
	font-style: normal;
    src: url($FontPath + "/OpenSans-Light.ttf");
}

@font-face {
	font-family: 'OpenSans';
	font-weight: lighter;
	font-style: italic;
    src: url($FontPath + "/OpenSans-LightItalic.ttf");
}


