{% load static %}
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="hu" lang="hu" >
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {% block title_meta %}
        <title></title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% endblock %}

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Jquery -->
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/sidebar.js' %}" type="text/javascript"></script>
        <link rel="stylesheet" href="static/kirui/css/kirui.css">
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <a href="#" class="btn btn-secondary" id="menu-toggle" style="float: left; color: black;">
                <i class="material-icons md-24" stlye="font-weight: bold;">menu</i>
            </a>
            <a class="navbar-brand" href="#" style="float: left;">Drescher DocuFlow</a>

            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                        </li>

                        <li>
                            <a href="https://docs.in.drescher.hu/manufacturing/docuflow/" target="_blank">{% trans 'Documentation' %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>

        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav main-menu">
                    <li>
                        <a href="#">
                            <i class="material-icons" style="vertical-align: middle;">build</i>
                            <span class="label">{% trans 'Manufacturing' %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="content-wrapper">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->

    </body>
</html>